* {
    box-sizing: border-box;
}

/* Sets color to White and removes browser margins */
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4A4A4A;
}

main {
    background-color: #ffff;
    width: 100%;
}

/* Removes bullets and indentation from all list items */
li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Removes underscore and color from all links */
a {
    text-decoration: none;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 14px;
}

/* Removes indentation from all unordered lists*/
ul {
    padding-inline-start: 0px;
}

/* Removes italics from address font*/
address {
    font-style: normal;
    color: #7F7F7F;
}

/* Bolds and colors contact phone number, email address and footer nav tiems */
address span {
    font-weight: bold;
    color: #7F7F7F;
}

address a {
    color: #7F7F7F;
}
/* Styles tbe naviagation list items */
nav li {
    background-color: #ffff;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    color: #4A4A4A;
}

/* Desaturates and resizes the horizantal rule to match project specifications */
hr {
    border: 1px solid #E7E7E7;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    margin-top: 70px;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;

}

h3 {
    font-weight: 600;
}
.portfolio-tile img {
    max-width: 90%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.skills-tile img {
    max-width: 50%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
} 

.profile-pic-bio-container {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic-bio-container img {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* Removes bottom margin and increase top*/
.profile-pic-bio-container p {
    margin-bottom: 0px;
    margin-top: 25px;
}

.portfolio-tile, .skills-tile {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.portfolio-tile {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 33px;
}
/* Removes bottom padding of last portfolio tile */
div.portfolio-tile:last-of-type {
    padding-bottom: 0px;
}

.portfolio-tile p {
    padding-right: 24px;
    padding-left: 24px;
}

.skills-tile {
    padding-bottom: 45px;
}
div.skills-tile:last-of-type {
    padding-bottom: 60px;
}

footer{
    padding-top: 30px;
}

footer section, footer address {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

footer li {
    display: inline;
    padding-top: 13px;
}

.footer-nav {
    display: flex;
    font-weight: bold;
    color: #4A4A4A;
    margin-left: auto;
    margin-right: auto;
}

footer li:nth-child(1) {
    width: 50%;
    margin-right: auto;
    height: 40px;
    padding-left: 1em;
}

footer li:nth-child(2) {
    text-align: right;
    width: 50%;
    height: 40px;
    margin-left: auto;
    padding-right: 1em;
}

footer p {
    margin-top: 0px;
}

.mobile-hidden-footer-nav {
    display: none;
}


/* Media Queries */


/* Tablet-Sized Screens */
@media screen and (min-width: 768px) {

    nav {
        display: flex;
        max-width: 1023px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;  
    }

    nav li {
        display: inline;
        margin-left: 15px;
        padding: 10px;
        background-color: inherit;
    }

    .name-nav-container {
        display: flex;
        max-width: 1023px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;  
    }

    .profile-pic-bio-container {
        display: flex;
        max-width: 1023px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row-reverse;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-pic-bio-container img {
        max-width: 40%;
    }

    .profile-pic-bio-container p {
        margin-top: 0px;
        padding-right: 20px;
    }

    .portfolio-margin-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-container {
        display: flex;
        max-width: 1023px;
        flex-wrap: wrap;
        padding: 6px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-tile {
        max-width: 50%;
        padding: 6px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .portfolio-tile p {
        padding-right: 45px;
        padding-left: 45px;
    }

    .skills-container {
        display: flex;
        max-width: 1023px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .skills-tile {
        margin: 0px;
        padding-top: 20px;
        width: 40%;
        max-width: 50%;
    }

    .skills-tile img {
        width: 50%;
    }

    .large-device-hidden-footer-nav {
        display: none;
    }

    .mobile-hidden-footer-nav {
        display: inline;
        margin: 10px 0px 10px 15px;
        padding: 10px;
    }

    .footer-nav {
        display: flex; 
        max-width: 1023px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Desktop-Sized Screens */
@media screen and (min-width: 1024px) {

    header {
        max-width: 1400px;
        padding-left: 102px;
        padding-right: 62px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .name-nav-container {
        display: flex;
        max-width: 1400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .profile-pic-bio-container {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .profile-pic-bio-container p {
        padding-right: 20px;
    }

    .portfolio-container {
        max-width: 1400px;
    }

    .portfolio-tile {
        max-width: 30%;
    }

    .skills-container {
        max-width: 1400px;
    }
    .skills-tile {
        max-width: 25%;
    }

    .footer-nav {
        max-width: 1400px;
        padding-left: 30px;
        padding-right: 30px;
    }

    hr {
        margin-inline-start: 46px;
        margin-inline-end: 46px;
    }

}